@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"),
    url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.header {
  background-color: #635854;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  margin-top: 6px;
}

.navbar-menu {
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
  padding: 9px 16px;
}
.navbar-item:hover {
  background-color: #3596f5;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}
.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.navbar-contacts {
  text-align: right;
}
.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}
/**End Header Style**/

.main {
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 54px;
  display: flex;
}

.home-image path {
  opacity: 0;
}
.home-image path:hover {
  opacity: 1;
  cursor: pointer;
}

.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.counter-arrow-down {
  transform: rotateX(180deg);
}
.counter {
  color: #635854;
  font-family: "Bebas Neue", sans-serif;
  font-size: 125px;
  margin-top: 55px;
  margin-bottom: 55px;
}

.button-primary {
  background-color: #3596f5;
  border: none;
  border-radius: 6px;
  color: #fff;
  padding: 16px 36px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
}
/**End Main Style**/
